/* NAVBAR STYLING */


.user-navbar .link-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  }
  
  .user-navbar {
  background-color:  whitesmoke;
  padding: 10px 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  }
  
  .user-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  }
  
  .user-navbar li {
  display: inline-block;
  margin: 0 10px;
  }
  
  .user-navbar a {
  color: #555;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  .user-navbar a:hover {
  background-color: #555;
  color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .user-navbar nav {
  padding: 5px 0;
  }
  
  .user-navbar li {
  display: block;
  margin: 10px 0;
  }
  }
  
  
  
  /* LOGIN STYLLING */
  /* index.css */
  .login-form  {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }
  
  .login-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color:  #54B168;
  text-align: center;
  }
  
  .login-form .form-group {
  margin-bottom: 15px;
  }
  
  .login-form label {
  display: block;
 
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .login-form button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #206e31;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
  background-color: #154a22;
  }
  
  @media only screen and (max-width: 600px) {
    .login-form .auth-container {
  padding: 10px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"],
  .login-form button {
  padding: 8px;
  }
  }
  
  /* REGISTRATION STYLLING */
  /* + */
  /* update user */
  
  .register-form  {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  
  }
  
  .register-form  h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color:  #54B168;
  text-align: center;
  }
  
  .register-form .form-group {
  margin-bottom: 15px;
  }
  
  .register-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  }
  
  .register-form .form-group input[type="text"],
  .register-form .form-group input[type="email"],
  .register-form .form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  }
  
  .register-form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #206e31;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  display: block;
  width: 100%;
  
  
  }
  
  .register-form button[type="submit"]:hover {
  background-color: #154a22;
  }
  
  
  
  /* FOOTER STYKLING */
  .user-footer {
  background-color:  #54B168;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
  
  
  
  
  
  /* PAGE NOT FOUND STYLING */
  /* index.css */
  .not-found-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  }
  
  .not-found-container h2 {
  color: #d9534f;
  }
  
  .not-found-container p {
  color: #333;
  }
  
  @media only screen and (max-width: 600px) {
  .not-found-container {
  padding: 10px;
  }
  }
  
  /* ERROR STYLING */
  .error-message {
  color: red;
  text-align: center;
  }
  
  
  
  /*USER MANAGEMENT PAGE*/
  .user-management-container {
  max-width: 800px;
  margin: 0px auto 60px auto;
  padding: 20px;
  
  }
  
  .user-management-title {
  text-align: center;
  margin-bottom: 30px;
  color:  #54B168;
  }
  
  .user-management-table {
  width: 100%;
  border-collapse: collapse;
  }
  
  .user-management-table th, 
  .user-management-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }
  
  .user-management-table th {
  background-color: #f2f2f2;
  }
  
  .user-management-table tr:nth-child(even) {
  background-color: #f9f9f9;
  }
  
  .user-management-table tr:hover {
  background-color: #f2f2f2;
  }
  
  .user-management-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .user-management-container .reg-button {
  padding: 15px;
  margin: 10px auto;
  }
  
  .user-management-container button:hover {
  background-color: #0056b3;
  }
  
  .user-management-container .deleteuser-button {
  background-color: rgb(255, 9, 9);
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  }
  
  
  /**PROFILE STYLING"
  /* index.css */
  
  .profile-page-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }
  
  .profile-page-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color:  #54B168;
  }
  
  .profile-page-container p {
  margin-bottom: 10px;
  font-size: 16px;
  }
  
  .profile-page-container .profile-update-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  }
  
  .profile-page-container .profile-update-button:hover {
  background-color: #093c72;
  }
  
    
