/* AddEmployee.css */

.emp-employee-form-container {
    width: 70%; /* Adjust width to make it smaller */
    max-width: 900px; /* Ensure it doesn't get too large */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Reduce padding */
    background-color: #f9f9f9;
    margin: 20px auto; /* Center the container */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a light shadow for better visibility */
  }
  
  
  .emp-employee-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .emp-username {
    color: green;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .emp-role {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .emp-menu-list {
    list-style: none;
    padding: 0;
  }
  
  .emp-menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .emp-menu-item.active {
    background-color: green;
    color: white;
  }
  
  
  .emp-main-content {
    flex: 1;
    padding: 30px;
    background: #f9f9f9;
  }
  
  .emp-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .emp-add-btn, .emp-back-btn {
    grid-column: span 2;
    padding: 5px;
    font-size: 12px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .emp-add-btn {
    background-color: green;
    border: 6px solid green;
    color: white;
  }

  .emp-add-btn:hover {
    background-color: darkgreen;
  }
  
  .emp-back-btn {
    background-color: white;
    border: 4px solid green;
    color: green;
  }
  