.employee-detail-container {
    width: 70%; /* Adjust width to make it smaller */
    max-width: 900px; /* Ensure it doesn't get too large */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Reduce padding */
    background-color: #f9f9f9;
    margin: 20px auto; /* Center the container */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a light shadow for better visibility */
  }
  
  
  .title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .view-employee-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px; /* Increase row and column spacing */
    padding: 0 10%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Increase space between fields */
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 16px; /* Increase label size */
    margin-bottom: 8px; /* Increase space between label and input */
  }
  
  .form-group input {
    padding: 10px;
    font-size: 14px; /* Slightly increase font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .update-btn {
    grid-column: span 2;
    padding: 8px;
    font-size: 14px;
    width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    border: 3px solid green;
    color: white;
    margin: 20px auto;
  }
  
  .update-btn:hover {
    background-color: #13441d;
  }
  